@tailwind base;
@tailwind components;
@tailwind utilities;


.background{
  background-image: url('/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 520px
}

.flexi{
  @apply flex items-center
}

.five{
  @apply max-[500px]:hidden
}
.fives{
  @apply max-[500px]:flex
}

.six{
  @apply max-[600px]:hidden
}
.eight{
  @apply max-[800px]:hidden
}
.eights{
  @apply max-[800px]:flex
}

.ten{
  @apply max-[1000px]:hidden
}
.nine-five{
  @apply max-[950px]:hidden
}


.width{
  @apply w-[84.44%] mx-auto
}